body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery-image {
    width: 360px;
    height: 200px;
}
.modal-window {
    background-color: rgba(46, 47, 66, 0.8);
}
.hidden-scroll .sl-wrapper .sl-close { 
    color: #fff;
}
.hidden-scroll .sl-wrapper .sl-counter {
    color: #fff;
}
.hidden-scroll .sl-wrapper .sl-close {
    color: #fff;
}
.hidden-scroll .sl-wrapper .sl-navigation button {
    color: #fff;
}


